.table-dashboard-th-nowrap thead th { white-space: nowrap !important; }
.order-4, .order-4:after, .caret-4-desc, .caret-4-asc{
    border-right: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.order-4 {
    border-bottom: 0.25rem solid #b6c1d2;
    border-top: 0;
    transform: translateY(-70%);
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: -0.75rem;
        top: 0.35rem;
        border-top: 0.25rem solid #b6c1d2;
        border-bottom: 0;
    }
}

.caret-4-asc {
    border-bottom: 0.25rem solid #b6c1d2;
    border-top: 0;
}

.caret-4-desc{
    border-top: 0.25rem solid #b6c1d2;
    border-bottom: 0;
}

[data-row-selection], .sortable {
    cursor: pointer;
    &:focus { outline: none; }
}
.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.btn-falcon-default {
  color: #2c7be5!important;
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 1px rgb(43 45 80 / 10%), 0 2px 5px 0 rgb(43 45 80 / 8%), 0 1px 1.5px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 8%);
} 
.card {
  box-shadow: 0 7px 14px 0 rgb(59 65 94 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}
.fs--1{
  font-size: .83333rem;
}